.container{
    height: 300px;
    width: 300px;
    background-color: blue;
    
    animation: identifier 7s infinite alternate;
    animation-timing-function: ease-in-out;
}
@keyframes identifier {
    from {
        transform: skew(0deg);
    }
    to {
        transform: skew(45deg);
        border-radius: 50px;
        background-color: green;
        box-shadow: 10px 10px 3px black;
    }
    
}